.CardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    margin: 5px;
    width: 300px;
    overflow: hidden;
    border-style: solid;
    border-radius: 5px;
}

.CardItem a {
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin: 0px;
    padding: 3px;
  }

.ItemImg{
    width: 80%;
    height: 300px;
    box-sizing: border-box;
}

.CardItem .Info {
    text-align: center;
}
.ItemBtn {
    background-color: #056EFF;
    width: 150%;
    border-radius: 5px;

}

.ItemFooter {
    display: flex;
}

.Info {
    font-size: large;
}