*{
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: 'Sofia Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FF781F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
